<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="entete::entete('Administrateur générale')">
</head>

<body>
	
	<div class="container">
		<header th:insert="menu::menu"></header>
		<section class="row">
			<aside class="col-md-3">
				<div th:replace="categorie::option"></div>
				<div th:replace="panier::panier"></div>
			</aside>
			<article class="col-md-9">
				<div th:replace="center::center"></div>
			</article>
		</section>
	</div>
	
	<script th:src="@{/script/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/script/bootstrap.min.js}"></script>
	<script th:src="@{/script/script.js}"></script>
	
</body>

</html>