<div th:fragment="modifierCategorie" th:if="${action}=='modifierCategorie'">
	<h3 class="label label-info">Modifier un catégorie</h3>
	<form method="post" th:action="@{${context}+'/editCategorie'}" class="form-horizontal" th:object="${categorie}">
		<div class="form-group">
			<label class="control-label col-md-4">Libelle :</label>
			<div class="col-md-8">
				<input required="required" th:value="${categorie.libelle}" th:field="*{libelle}" class="form-control" type="text">
				<span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}" th:errorclass="erreur">Le libélle est incorrect !</span>
			</div>
			<button type="submit" class="btn btn-primary">Editer</button>
		</div>
	</form>
</div>